
body{ background: url("https://assets.hongkiat.com/uploads/wallpapers-coder-geek-designer/geek/2560x1440.jpg") no-repeat;
background-size: 1540px;}

nav.menu-nav ul li.Button{
	list-style-type: none;
}

nav.menu-nav ul li.Button{ display: inline-block; }

nav.menu-nav ul li.Button a{ color: blue; text-decoration: none;
padding: 20px;
font-size: 20px;}

nav.menu-nav ul li.Button:hover a{font-size: 30px; transition: 0.3s all;}

div.cirque img{ position: absolute; left: 1050px; right: 0px; top: 280px; }

div.textcirque { z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 70.5%;
    right: 20%;
    top: 45%;
    color: black;
    width: 10%;}

div.donjon img{ position: absolute; left: -950px; right: 0px; top: -250px; }

div.textdonjon { z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    font-size: 10px;
    margin: 0 auto;
    left: -1875px;
    right: 20%;
    top: -220px;
    color: black;
    width: 10%;}

div.dessin img{ position: absolute; left: 1050px; right: 0px; top: -50px; }

div.textdessin { z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    font-size: 12px;
    margin: 0 auto;
    left: 1110px;
    right: 0px;
    top: 0%;
    color: black;
    width: 10%;}
