* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.underline {text-decoration: none;}

.header{width: 100vw; height: 12vh; flex-direction: column;}

.menu-nav{justify-content: space-evenly; font-size: 25px; margin-top: 1%;}

.menu-nav li:hover{ transform: scale(2.2); transition: 0.5s;}

li{list-style: none; display: inline-block;}

.main {color: white; text-decoration: none;}

.titre {color: white; font-size: 50px;}

.sous-texte { color: black; font-size: 25px;}

.gap-30 { gap: 30px;}

.top-100 {margin-top: 4%;}

.flex {display: flex;}

.direction {flex-direction: column;}

.justify {justify-content: center;}

.align{align-items: center;}

.flex-inline{display: inline-flex;}

.flex-1{flex: 1;}

.flex-3{flex: 3;}

.container{height: 80vh;}

.text{text-align: center;}

.background{height: 100vh; width: 100vw; background: url("Doc/background.jpg") no-repeat; background-size: 100% 100%;}

.ytb img{ position: fixed; top: 79%;}

.insta img{position: fixed; left: 9%; top: 79%;}

.footer{position: absolute; bottom: 0; width: 100%; align-self: center; justify-self: center;}

.backpaper{height: 100vh; width: 100vw; background: url("Doc/backpaper.jpg") no-repeat; background-size: 100% 100%;}

.papercraft{ background-image: url("Doc/Bulle.png");
    background-size: 100% 100%;
    width: 17vw;
    height: 27vh;
    position: fixed; left: 38%; top: 38%; transform: scaleX(-1);}

.origami{ background-image: url("Doc/Bulle.png");
    background-size: 100% 100%;
    width: 17vw;
    height: 15vh;
    position: fixed; left: 68%; right: px; top: 35%;}

.Papertext {font-size: 200%; color: Blue;}
    
.bulle1{position: fixed; text-decoration: none; transform: scaleX(-1); }

.bulle2{position: fixed; text-decoration: none;}

.oriback{background-image: url("Doc/oribackground.jpg"); no-repeat; background-size: 100% 100%; height: 100vh; width: 100vw;}

.blue{color: blue; text-decoration: none;}

div.xwing img{position: fixed; top: 14%; left: 2%;}

div.titre {position: fixed; top: 30%; left: 1%; font-size: 100%;}

div.couronne img{position: fixed; top: 35%; left: 1%;}

div.titre-couronne {position: fixed; top: 51%; left: 2.5%;}

div.pika img{position: fixed; top: 56%; left: 1.5%;}

div.titre-pika {position: fixed; top: 72%; left: 2%;}

div.dracaufeu img{position: fixed; top: 14%; left: 14%;}

div.titre-dracaufeu {position: fixed; top: 30%; left: 16%; font-size: 100%;}

div.carnet img{position: fixed; top: 35%; left: 14%;}

div.titre-carnet {position: fixed; top: 51%; left: 14%; font-size: 100%;}

div.coeur_page img{position: fixed; top: 54%; left: 14%;}

div.titre-coeur {position: fixed; top: 71%; left: 14%; font-size: 100%;}

div.box img{position: fixed; top: 12%; left: 28%;}

div.titre-box {position: fixed; top: 30%; left: 28.5%; font-size: 100%;}

div.enveloppe img{position: fixed; top: 34%; left: 26%;}

div.titre-enveloppe {position: fixed; top: 51%; left: 28.5%; font-size: 100%;}

div.papillon img{position: fixed; top: 55%; left: 26%;}

div.titre-papillon {position: fixed; top: 71%; left: 28.5%; font-size: 100%;}

div.papercrafteurs {position: fixed; top: 85%; left: 1%;}

.paperlink{color: white;}

h4.papercrafteurs{ color: black; position: fixed; left: 1%; top: 90%;}

div.Canard img{position: fixed; top: 13%; left: 1%;}

div.titrecanard {position: fixed; top: 32%; left: 3%;}

div.Chat img{position: fixed; top: 42%; left: 2%;}

div.titrechat {position: fixed; top: 62%; left: 4%;}

div.Pingouin img{position: fixed; top: 13%; left: 15%;}

div.titrepingouin {position: fixed; top: 32%; left: 19%;}

div.Pokeball img{position: fixed; top: 45%; left: 19%;}

div.titrepokeball {position: fixed; top: 62%; left: 21%;}

div.Pingouinglisse img{position: fixed; top: 14%; left: 32%;}

div.titreglisse {position: fixed; top: 32%; left: 33%;}

div.Licorne img{position: fixed; top: 44%; left: 30%;}

div.titrelicorne {position: fixed; top: 62%; left: 33%;}

div.jeux {background-image: url(Doc/jeuxbackground.jpg) ; no-repeat; background-size: 100% 100%; height: 100vh; width: 100vw; }

div.page1{position: fixed; top: 90%; left: 45%;}

div.page2{position: fixed; top: 90%; left: 51%;}

div.profscratch {position: fixed; top: 90%; left: 2%;}

h4.profscratch{ color: black; position: relative; left: 0px; }

div.cards {position: fixed; top: 90%; left: 80%;}

h4.cards{ color: black; position: fixed; left: 80%; }

div.picoquizz {position: fixed; top: 18%; left: 1%;}

div.titre1 {position: fixed; top: 76%; left: 11%;}

div.escapegame {position: fixed; top: 18%; left: 30%;}

div.titre2 {position: fixed; top: 76%; left: 45%;}

p{ color: white; font-size: 25px; }

h4.picoquizz{ color: white; position: fixed; left: 4%; }

h4.escapegame{ color: white; position: fixed; left: 46%; }

div.picoquizz2 {position: fixed; top: 18%; left: 1%;}

div.titrep2 {position: fixed; top: 76%; left: 4%;}

div.Papillons {position: fixed; top: 18%; left: 67%;}

div.titrepapillon {position: fixed; top: 76%; left: 75%;}

h4.papillon{ color: white; position: fixed; left: 70%; }

.atelier {background-image: url(Doc/atelier.jpg) ; no-repeat; background-size: 100% 100%; height: 100vh; width: 100vw; }

.bigText{ font-size: 130%; color: Blue;}

.post-it-cirque{ background-image: url("Doc/postit.png"); background-size: 100% 100%; width: 14vw; height: 30vh; position: fixed; left: 5%; right: 0px; top: 18%;}

.post-it-donjon{ background-image: url("Doc/postit.png"); background-size: 100% 100%; width: 14vw; height: 30vh; position: fixed; left: 18%; right: 0px; top: 50%;}

.post-it-dessin{ background-image: url("Doc/postit.png"); background-size: 100% 100%; width: 14vw; height: 30vh; position: fixed; left: 78%; right: 0px; top: 18%;}

.post-it-lego{ background-image: url("Doc/postit.png"); background-size: 100% 100%; width: 14vw; height: 30vh; position: fixed; left: 62%; right: 0px; top: 35%;}

div.ludotheque {background-image: url(Doc/jeuxbackground.jpg) ; no-repeat ; background-size: 100% 100% ; height: 100vh ; width: 100vw ; }

div.patissorcier{ color: white; position: fixed; top: 13%; left: 8%; right: 5%;}

div.titre-pati{color: white; position: fixed; top: 43%; left: 8%; right: 5%;}

div.vino{ color: white; position: fixed; top: 23%; left:34%; right: 5%;}

div.titre-vino{color: white; position: fixed; top: 43%; left: 36%; right: 5%;}

div.gold{ color: white; position: fixed; top: 21%; left:56%; right: 5%;}

div.titregold{ color: white; position: fixed; top: 43%; left: 58%; right: 5%;}

div.munchkin{color: white; position: fixed; top: 21%; left:73%; right: 5%;}

div.titremunchkin{ color: white; position: fixed; top: 43%; left: 79%; right: 5%;}

div.roy{color: white; position: fixed; top: 55%; left:12%; right: 5%;}

div.titreroy{ color: white; position: fixed; top: 76%; left: 11%; right: 5%;}

.mouton{ background-image: url(Doc/mouton-bg.jpg); no-repeat ; background-size: 100% 100% ; height: 100vh ; width: 100vw ;}

.dobby{background-image: url("Doc/Dobby.png"); background-size: 100% 100%; width: 14vw; height: 30vh; position: fixed; left: 0%; right: 0px; top: 74%;}

.traduction{ background-size: 100% 100%; width: 12vw; height: 20vh; position: fixed; left: 5%; right: 0px; top: 18%;}

.titre-trad{position: fixed; top: 40%; left: 6%;}

div.bird img{position: fixed; top: 19%; left: 20%;}

div.titre-bird {position: fixed; top: 40%; left: 23%;}

div.baleine img{position: fixed; top: 19%; left: 32%;}

div.titre-baleine {position: fixed; top: 40%; left: 36%;}

div.pok img{position: fixed; top: 19%; left: 45%;}

div.titre-pok {position: fixed; top: 40%; left: 48.5%;}

div.bomb img{position: fixed; top: 18%; left: 57%;}

div.titre-bomb {position: fixed; top: 40%; left: 60%;}

div.amongus img{position: fixed; top: 20%; left:68%;}

div.titre-amongus {position: fixed; top: 40%; left: 72%;}


